<div>
  <div>
    <i class="icon-sort"></i>
    <span class="">
      <h2>{{name}}</h2>
      <span class="city">{{city}}, </span>
      <span class="country">{{country}}</span>
    </span>
  </div>
  <a href="#" class="btn btn-danger delete">
    <i class="icon-remove"></i>
  </a>
</div>
